.d{
background-color: brown;
color: aliceblue;
text-align: right;

}
#m{
background-color: brown;
text-align:center;
font-size: 50px;
}

.c{
    text-align: center;
}


#r{
    background-color: brown;
}

.u{
    text-align: left;

}